<div class="row">
    <div class="col s10 offset-s1 ">
        <div class="card sticky-action ">
            <md-toolbar class="md-table-toolbar ">
                <div class="md-toolbar-tools teal darken-3">
                    <span>Buscar Lote CPF</span>
                </div>
            </md-toolbar>

            <div class="row">
                <div class="input-field col s12 ">
                    <form ng-controller="BuscaLoteCtrl">

                        <div class="row">
                            <div class="input-field col s6">
                                <div class="file-field input-field ">
                                    <div class="btn teal darken-3">
                                        <span>Carregar CPFs - .CSV</span>
                                        <input type="file" multiple on-read-file="carregarConteudo($fileContent)">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate"
                                               id="input-file-id"
                                               type="text"
                                               placeholder="Selecione os aquivos para consulta"
                                               on-read-file="carregarConteudo($fileContent)">
                                    </div>
                                </div>
                            </div>

                            <div class="input-field col s4 offset-s2">
                                <select id="tipoDocumento" type='text' ng-model="vm.tipoDocumento">
                                    <option value="">Tipo Documento</option>
                                    <option value="cpf">CPF</option>
                                    <option value="cnpj">CNPJ</option>
                                </select>
                                <label for="tipoDocumento">Selecione o tipo de documento para consulta:</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col s6" >
                    <p class="right-align">
                        <button class="btn waves-effect waves-light btn-large teal darken-3 "
                                ng-disabled="!vm.tipoDocumento" ng-click="listarEcByListaCPF()">Pesquisar
                            <i class="material-icons right">search</i>
                        </button>
                    </p>
                </div>

                <div class="row">
                    <div class="col s2" >
                        <p class="center-align">
                            <button class="btn waves-effect waves-light btn-large teal darken-3 "
                                    ng-disabled="!vm.tipoDocumento" ng-click="listarEcByListaCPF()">Baixar
                                <i class="material-icons">file_download</i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            </form>
        </div>


        <!--Conteudo Busca Resultado-->
        <!--loading-->
        <div class="row">
            <div class="center-align" ng-show="loading == true">
                <div class="preloader-wrapper active">
                    <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1>{{loading}}</h1>
        <div class="center-align animate shake" style="height: 50px;"
             ng-show="(vm.cardsPraExportacao.length == 0 ) && loading == false">
            <div class="chip ">
                <img src="img/cpf.svg" alt="Contact Person"> Dados nao encontrados
            </div>
        </div>
    </div>
</div>