<div class="row ">
    <div class="col s10 offset-s1 ">
        <div class="card sticky-action ">
            <md-toolbar class="md-table-toolbar ">
                <div class="md-toolbar-tools teal darken-3">
                    <span>Buscar Lote CPF/CNPJ</span>
                </div>
            </md-toolbar>
            <div class="row">
                <form action="">
                    <div class="input-field col s12 ">
                        <form ng-controller="BuscaLoteCtrl">

                            <div class="row">

                                <div class="input-field col s12">
                                    <textarea id="textarea1" type='text' class="materialize-textarea" ng-model="vm.cpf" />
                                    <label for="textarea1">Cpf/Cnpj</label>
                                    <div class="input-field col s8">
                                    <input class="ng-hide" id="input-file-id" multiple type="file" on-read-file="carregarConteudo($fileContent)"/>
                                    <label for="input-file-id" class="btn waves-effect waves-light btn-large teal darken-3 ">Carregar CPFs/CNPJs</label>
                                    </div>
                                    <div class="input-field col s4">
                                        <select id="delimiter" type='text' ng-model="vm.delimiter">
                                            <option value=",">Virgula ( , )</option>
                                            <option value=".">Ponto ( . )</option>
                                            <option value="|">Pipe ( | )</option>
                                        </select>
                                        <label for="delimiter">Delimitador</label>
                                    </div>

                                </div>

                                <p class="center-align">
                                    <button class="btn waves-effect waves-light btn-large teal darken-3 " ng-disabled="!vm.cpf" ng-click="listarEcByListaCPF()">Pesquisar
                                        <i class="material-icons right">search</i>
                                    </button>
                                </p>

                            </div>

                            <div class="right-align" ng-show="loading == false">
                                <div class="collection" >
                                    <span class="badge"  >
                                            <input type="checkbox" id="select" ng-click="vm.selecionarTodos()"  />
                                            <label for="select"></label>
                                    </span>

                                    <a class="collection-item"><b>Selecionar Todos</b> (<span ng-show="!vm.chek == true">0</span><span ng-show="vm.chek == true">{{vm.cardsPraExportacao.length}}</span>)

                                    </a>
                                </div>
                            </div>

                            <div class="collection" ng-repeat="pessoa in vm.dados" ng-show="loading == false">

                                <span class="badge">
                                    <input type="checkbox" id="{{pessoa}}" ng-click="vm.onChangeBox(pessoa)" ng-checked="vm.chek == true" />
                                    <label for="{{pessoa}}"></label>
                                </span>

                                <a class="collection-item">
                                    <b><span ng-show="pessoa.nome != '' && pessoa.nome != null">{{pessoa.nome}},</span></b>
                                    <span ng-show="pessoa.logradouro != '' && pessoa.logradouro != null">{{pessoa.logradouro}},</span>
                                    <span ng-show="pessoa.quadraLote != '' && pessoa.quadraLote != null">{{pessoa.quadraLote}},</span>
                                    <span ng-show="pessoa.bairro != '' && pessoa.bairro != null">{{pessoa.bairro}},</span>
                                    <span ng-show="pessoa.estado != '' && pessoa.estado != null">{{pessoa.estado}},</span>
                                    <span ng-show="pessoa.cep != '' && pessoa.cep != null">{{pessoa.cep}},</span>
                                    <span ng-show="pessoa.telefone != '' && pessoa.telefone != null">{{pessoa.telefone}},</span>
                                    <span ng-show="pessoa.numDocumento != '' && pessoa.numDocumento != null">{{pessoa.numDocumento}}</span>

                                </a>
                            </div>

                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Conteudo Busca Resultado-->
<div class="row">
    <div class="center-align" ng-show="loading == true">
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large teal darken-1">
        <i class="large material-icons">file_download</i>
        <md-tooltip md-direction="top">Exportar</md-tooltip>
    </a>
    <ul><i class="material-icons">file_download</i>
        <li  type="button" ng-csv="vm.cardsPraExportacao" csv-header="['Destinatarios']" filename="DestinatariosSefaz.csv" class="waves-effect waves-light" >
            <md-tooltip md-direction="top">Exportar CSV</md-tooltip>
            <a><i class="material-icons">insert_chart</i></a>
        </li>
        <li type="button"  class="waves-effect waves-light teal darken-2">
            <md-tooltip md-direction="top">Exportar PDF</md-tooltip>
            <a><i class="material-icons">picture_as_pdf</i></a>
        </li>
    </ul>
</div>

<div class="center-align animate shake" style="height: 50px;" ng-show="(vm.dados == 0 ) && loading == false">
    <div class="chip ">
        <img src="img/cpf.svg" alt="Contact Person"> Dados nao encontrados
    </div>
</div>
