<div class="row ">
    <div class="col s10 offset-s1 ">
        <div class="card sticky-action ">
            <md-toolbar class="md-table-toolbar ">
                <div class="md-toolbar-tools teal darken-3">
                    <span>Buscar Lote CPF</span>
                </div>
            </md-toolbar>
            <div class="row">
                <form action="">
                    <div class="input-field col s12 ">
                        <form ng-controller="BuscaLoteCtrl">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea
                                                    id="textarea1"
                                                    type='text'
                                                    class="materialize-textarea"
                                                    ng-model="vm.cpf"
                                                    ui-mask="999.999.999-99"
                                                    placeholder="000.000.000-00">

                                            </textarea>
                                            <label for="textarea1">Cpf/Cnpj</label>
                                        </div>
                                    </div>
                            <button class="btn waves-effect waves-light btn teal darken-3 " ng-click="vm.addCPF()">Add
                                <i class="material-icons right">add_circle</i>
                            </button>
                            <ul ng-repeat="pessoa in vm.dados track by $index" ng-bind-html-unsafe="cpf.text">
                                <li>
                                    <input type="checkbox" id="{{pessoa}}" ng-click="vm.onChangeCard(pessoa)" />
                                    <label for="{{pessoa}}"></label> {{pessoa}}
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div>
                        <p class="center-align">
                            <button class="btn waves-effect waves-light btn-large teal darken-3 " ng-click="listarEcByListaCPF()">Pesquisar
                                <i class="material-icons right">search</i>
                            </button>
                        </p>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Conteudo Busca Resultado-->
<div class="row">
    <div class="center-align" ng-show="loading == true">
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large teal darken-1">
        <i class="large material-icons">file_download</i>
        <md-tooltip md-direction="top">Exportar</md-tooltip>
    </a>
    <ul><i class="material-icons">file_download</i>
        <li type="button" ng-csv="vm.cardsPraExportacao" csv-header="['Destinatarios']" filename="test.csv" class="waves-effect waves-light ">
            <md-tooltip md-direction="top">Exportar CSV</md-tooltip>
            <a><i class="material-icons">insert_chart</i></a>
        </li>
        <li type="button" ng-csv="vm.dadosId" csv-header="['Coluna1', 'Coluna2', 'Coluna3']" filename="test.pdf" class="waves-effect waves-light teal darken-2">
            <md-tooltip md-direction="top">Exportar PDF</md-tooltip>
            <a><i class="material-icons">picture_as_pdf</i></a>
        </li>
    </ul>
</div>
