
    <!--Select Municipios-->
<!--<div class="row">-->
    <!--<div class="col s3 offset-s9">-->
        <!--<select class="browser-default">-->
            <!--<option value="Todos">Todos</option>-->
            <!--<option value="1">Goiania</option>-->
            <!--<option value="2">Trindade</option>-->
            <!--<option value="3">Aparecida de Goiania</option>-->
        <!--</select>-->
    <!--</div>-->
<!--</div>-->
    <!-- Modulos dados Endereços-->
<div class="row">
    <div class="col s4 m4 l4 ">
        <div class="" >
                <div class="waves-effect waves-light btn-flat  right-align  " style="height: 130px; background-color: #0277bd">
                    <span class="md-display-2  " style="color:white;">9.073</span>
                    <br>
                    <span class="md-headline" style="color:white;">Endereços Cadastrados</span>
                </div>
        </div>
    </div>
    <div class="col s4 m4 l4 ">
        <div class="">
            <div class="waves-effect waves-light btn-flat  right-align  " style="height: 130px; background-color: #006064">
                <span class="md-display-2  " style="color:white;">14.881</span>
                <br>
                <span class="md-headline" style="color:white;"> Endereço n Estruturado</span>
            </div>
        </div>
    </div>
    <div class="col s4 m4 l4 ">
        <div class="">
            <div class="waves-effect waves-light btn-flat  right-align  " style="height: 130px; background-color: #e65100">
                <span class="md-display-2  " style="color:white;">113.351</span>
                <br>
                <span class="md-headline" style="color:white;">Endereços Estruturados</span>
            </div>
        </div>
    </div>


</div>

<!--Graficos-->
</div>
    <div class="row">

        <div class="col s7 push-s5">
            <div class="card ">
                <div ng-controller="myctrl51">
                    <div class="span12">

                    </div>
                    <div class="row">
                        <highchart id="chart1" config="chartConfig" class="span10"></highchart>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s5 pull-s7">

            <div class="card ">
                <div ng-controller="myctrl2">
                    <div class="span12">

                    </div>
                    <div class="row">
                        <highchart id="chart2" config="chartConfig" class="span10"></highchart>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
    </div>

</div>
    <div class="row">
        <div class="col s3">
            <div class="card  ">

            </div>
         </div>
    </div>



