<div ng-controller="AppCtrlPessoa">
    <!-- Button menu-->
    <div class="navbar-fixed " style="position: absolute; z-index: 1">
        <nav class="navbar-fixed">
            <div class="navbar-fixed teal darken-3">
                <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
                    <md-tooltip>Menasdasdadasdadasu</md-tooltip>
                    <md-icon class="md-primary"  style="color:white;" class="material-icons">&#xE5D2;</md-icon>
                </md-button>
                <ul class="right hide-on-med-and-down">
                    <li><a href=""><i class="material-icons">search</i></a></li>
                    <li><a href=""><i class="material-icons">&#xE853;</i></a> </li>
                    <li> <a href="">sdasd Silva</li>
                    <li></li>
                </ul>
            </div>
        </nav>
    </div>
<!--SideNav-->
    <md-sidenav class="md-sidenav-left md-whiteframe-11dp" md-component-id="left"  >
        <md-toolbar class="md-whiteframe-24dp" layout="row" style="height: 200px; background-color: #4db6ac ; padding-top: 60px; padding-left: 30px" >
            <div class="md-toolbar-tools" >
                 <img src="../img/LogoGoias.png" alt="">
                <md-button class="md-icon-button " aria-label="Close Side Panel" ng-click="closeSideNavPanel()"  style="position: relative" >
                    <md-tooltip>Fechar</md-tooltip>
                    <md-icon class="md-default-theme" class="material-icons" >&#xE5CD;</md-icon>
                </md-button>
            </div>

    <!--Menu SideBar-->
        </md-toolbar>
        <md-content layout-padding="50px">
            <md-list>
                <md-subheader class="md-no-sticky">Pesquisa</md-subheader>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE0C9;</md-icon>
                   Buscar Pessoas</p>
                </md-list-item>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE8D1;</md-icon>
                    <p>Buscar Empresas</p>
                    <md-icon class="md-secondary">2</md-icon>
                </md-list-item>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE234;</md-icon>
                    <p>Lista .CSV</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky">Dashboard</md-subheader>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE1AF;</md-icon>
                    <p>Dashboard</p>
                </md-list-item>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE0C6;</md-icon>
                    <p>Ajuda</p>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

<!--Inicio Conteudo-->
    <br><br><br><br>


        <div ng-controller="myctrl">
            <div class="span12">

            </div>
            <div class="row">
                <highchart id="chart1" config="chartConfig" class="span10"></highchart>
            </div>
        </div>



<br><br><br><br><br><br><br><br><br><br><br><br>
<footer class="page-footer teal darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>