<!--FundoImg-->
<div id="telaLogin">
    <!--Topo-->
    <div class="navbar-fixed">
        <nav id="navTrasparente" class="black">
        </nav>
    </div>
    <br><br><br>

    <!--Formulario-->
    <div class="">
        <div class="container-fluid "  ng-controller="MinMaxCtrl">
            <div class="rowz-depth-2 ">
                <div>
                    <div class="col s12 m12 l12 "  >
                        <div class="account-wall center-align z-depth-2" id="loginform" >
                            <img  src="../img/logo_sofia2.png " alt="" class="img-responsive">

                            <br>
                                <form class="form-signin" ng-submit="onSubimit()" >

                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="icon_prefix2"
                                               type="email"
                                               class="form-control validate"
                                               required="required"
                                               autofocus
                                               ng-model="formModel.email"
                                        >
                                        <label for="icon_prefix2" class="left-align">Usuario</label>
                                    </div>

                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">vpn_key</i>
                                        <input type="password"
                                               id="icon_prefix"
                                               class="form-control validate"
                                               required="required"
                                               ng-model="formModel.password"
                                        >

                                        <label for="icon_prefix" class="left-align" >Senha</label>
                                    </div>
                                    <button class="btn waves-effect waves-light teal darken-3 " type="submit" >Entrar
                                        <i class="material-icons right">send</i>
                                    </button>
                                    <br><br>
                                </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--Logo Estado-->
    <div class="" style="bottom: 15px;  right: 33px; position: fixed">
        <img src="img/LogoGoias.png" alt="" width="100%" id="imgLogoGoias"  >
    </div>
</div>