
<!--Inicio Conteudo RESULTADO-->


    <div class="row ">
        <div class="col s10 offset-s1 ">
            <div class="card sticky-action">
                <md-toolbar class="md-table-toolbar ">
                    <div class="md-toolbar-tools teal darken-3 ">
                        <span><b>NOME:</b> GUSTAVO ROSA PAIVA SILVA &#160</span>
                        /
                        <span>&#160<b>&#160CPF</b>: 041.355.455-05 </span>
                    </div>
                </md-toolbar>
                <div class="row">
                    <div class="col s12">
                        <table class="highlight" md-table style="padding: 500px" >
                            <thead md-head >
                            <tr md-row  style="height: 50px">
                                <th md-column ><span>Ranking</span></th>
                                <th md-column><span>Endereço</span></th>
                                <th md-column><span>Bairro</span></th>
                                <th md-column>Origem de Registro</th>
                                <th md-column>Favorito</th>
                            </tr>
                            </thead>

                            <tbody md-body>
                            <tr md-row style="height: 50px;">
                                <td md-cell>1</td>
                                <td md-cell>Av C 12, 380 - Setor Sudoeste, Goiânia-GO</td>
                                <td md-cell>Centro</td>
                                <td md-cell>DETRAN</td>
                                <td md-cell>
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr md-row style="height: 50px">
                                <td md-cell>2</td>
                                <td md-cell>R 227, 451 - Setor Leste Universitário, Goiânia-GO</td>
                                <td md-cell>Setor Oeste</td>
                                <td md-cell>SANEAGO</td>
                                <td md-cell>
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr md-row style="height: 50px">
                                <td md-cell>3</td>
                                <td md-cell>Av dos Índios, 472 - Santa Genoveva, Goiânia-GO</td>
                                <td md-cell>Setor Vila Nova</td>
                                <td md-cell>UEG</td>
                                <td md-cell>
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr md-row style="height: 50px">
                                <td md-cell >4</td>
                                <td md-cell>Av João Luís de Almeida, 348 - Setor Crimeia Oeste, Goiânia-GO</td>
                                <td md-cell>Setor Oeste</td>
                                <td md-cell>DETRAN</td>
                                <td md-cell>
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>


<!--Telefones-->

    <div class="row ">
        <div class="col s10 offset-s1 ">
            <div class="card sticky-action">
                <md-toolbar class="md-table-toolbar ">
                    <div class="md-toolbar-tools teal darken-3 ">
                        <span><b>Telefones</b> </span>

                    </div>
                </md-toolbar>
                <div class="row">
                    <div class="col s12">
                        <table class="highlight" md-table style="padding: 500px" >
                            <thead md-head >
                            <tr md-row  style="height: 50px">
                                <th md-column ><span>Ranking</span></th>
                                <th md-column><span>DDD</span></th>
                                <th md-column><span>Numero</span></th>
                                <th md-column>Favorito</th>
                            </tr>
                            </thead>

                            <tbody md-body>
                            <tr md-row style="height: 50px;">
                                <td md-cell>1</td>
                                <td md-cell>62</td>
                                <td md-cell>99111-4758</td>
                                <td md-cell>
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr md-row style="height: 50px">
                                <td md-cell>2</td>
                                <td md-cell>62</td>
                                <td md-cell>98541-4158</td>
                                <td md-cell>
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr md-row style="height: 50px">
                                <td md-cell>3</td>
                                <td md-cell>62</td>
                                <td md-cell>99951-4118</td>
                                <td md-cell>
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr md-row style="height: 50px">
                                <td md-cell>4</td>
                                <td md-cell>62</td>
                                <td md-cell>98133-4997</td>
                                <td md-cell>
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
<!--Fim Conteudo-->