<div ng-controller="AppCtrlPessoa">
<!-- Button menu-->
    <div class="navbar-fixed " style="position: absolute; z-index: 5">
        <nav class="navbar-fixed">

            <div class="navbar-fixed teal darken-3">
                <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
                    <md-tooltip>Menu</md-tooltip>
                    <md-icon class="md-primary"  style="color:white;" class="material-icons">&#xE5D2;</md-icon>
                </md-button>
                <ul class="right hide-on-med-and-down">
                    <li><a href=""><i class="material-icons">search</i></a></li>
                    <li><a href=""><i class="material-icons">&#xE853;</i></a> </li>
                    <li> <a href="">Gustavo Silva/</a></li>
                    <li></li>
                </ul>
            </div>
        </nav>
    </div>
<!--SideNav-->
    <md-sidenav class="md-sidenav-left md-whiteframe-11dp" md-component-id="left"  >
        <md-toolbar class="md-whiteframe-24dp" layout="row" style="height: 200px; background-color: #4db6ac ; padding-top: 60px; padding-left: 30px" >
            <div class="md-toolbar-tools" >
                 <img src="../img/LogoGoias.png" alt="">
                <md-button class="md-icon-button " aria-label="Close Side Panel" ng-click="closeSideNavPanel()"  style="position: relative" >
                    <md-tooltip>Fechar</md-tooltip>
                    <md-icon class="md-default-theme" class="material-icons" >&#xE5CD;</md-icon>
                </md-button>
            </div>



    <!--Menu SideBar-->
        </md-toolbar>
        <md-content layout-padding="50px">
            <md-list>
                <md-subheader class="md-no-sticky">Pesquisa</md-subheader>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE0C9;</md-icon>
                   Buscar Pessoas</p>
                </md-list-item>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE8D1;</md-icon>
                    <p>Buscar Empresas</p>
                    <md-icon class="md-secondary">2</md-icon>
                </md-list-item>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE234;</md-icon>
                    <p>Lista .CSV</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky">Dashboard</md-subheader>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE1AF;</md-icon>
                    <p>Dashboard</p>
                </md-list-item>
                <md-list-item>
                    <md-icon class="md-default-theme" class="material-icons">&#xE0C6;</md-icon>
                    <p>Ajuda</p>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

<!--Inicio Conteudo BOX Busca-->
    <br><br><br>




    <div class="row ">
        <div class="col s10 offset-s1 ">
            <div class="card sticky-action ">
                <md-toolbar class="md-table-toolbar ">
                    <div class="md-toolbar-tools teal darken-3">
                        <span>Buscar Pessoas </span>
                    </div>
                </md-toolbar>
                <div class="row">

                    <div class="input-field col s4 ">
                        <input id="cpf" type="text" class="validate">
                        <label class="active" for="cpf">Cpf</label>
                    </div>

                    <div class="input-field col s8 ">
                        <input id="nome" type="text" class="validate">
                        <label class="active" for="Nome">Nome</label>
                    </div>
                    <div>

                        <p class="center-align">
                            <button class="btn waves-effect waves-light btn-large teal darken-3 " type="submit" name="action">Pesquisar
                                <i class="material-icons right">search</i>
                            </button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--COnteudo Busca Resultado-->

    <div class="row ">
        <div class="col s10 offset-s1 ">
            <div class="card sticky-action ">
                <md-toolbar class="md-table-toolbar ">
                    <div class="md-toolbar-tools teal darken-3">
                        <span>Resultado Pesquisa </span>
                    </div>
                </md-toolbar>
     <div class="row">
                <div class="col s12">

                    <table class="highlight" md-table style="padding: 500px" >
                        <thead md-head >
                        <tr md-row  style="height: 50px">
                            <th md-column ><span>CPF</span></th>
                            <th md-column><span>Nome</span></th>
                            <th md-column><span>Municipio</span></th>
                            <th md-column>#</th>
                        </tr>
                        </thead>

                        <tbody md-body>
                        <tr md-row style="height: 50px;">
                            <td md-cell>034.117.201-40</td>
                            <td md-cell>Gustavo Rosa Paiva Silva</td>
                            <td md-cell>Trindade</td>
                            <td md-cell><img src="../img/file.png" alt=""></td>
                        </tr>
                        <tr md-row style="height: 50px">
                            <td md-cell>045.124.654-55</td>
                            <td md-cell>Ferrán Gonzalezz</td>
                            <td md-cell>Margazão</td>
                            <td md-cell><img src="../img/file.png" alt=""></td>
                        </tr>
                        <tr md-row style="height: 50px">
                            <td md-cell>001.144.227-55</td>
                            <td md-cell>Julio Pessoa</td>
                            <td md-cell>Goiania</td>
                            <td md-cell><img src="../img/file.png" alt=""></td>
                        </tr>
                        <tr md-row style="height: 50px">
                            <td md-cell >255.655.645-44</td>
                            <td md-cell>Tharsiso Melo</td>
                            <td md-cell>Aparecida de Goiania</td>
                            <td md-cell><img src="../img/file.png" alt=""></td>
                        </tr>

                        </tbody>
                    </table>


                </div>
            </div>

        </div>
     </div>
    </div>


<!--Fim Conteudo-->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer class="page-footer teal darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

</div>